<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--log4net-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <!--<appender-ref ref="SmtpAppender"/>-->
      <appender-ref ref="LogFileAppender" />
      <!--<appender-ref ref="ColoredConsoleAppender"/>-->
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\log.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />log
      <layout type="log4net.Layout.PatternLayout"><conversionPattern value="%date [%02thread] %-5level %logger: %message%newline" /></layout></appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="UserName" value="" />
    <add key="Password" value="" />
    <add key="isRemember" value="false" />
    <add key="isAutoLogin" value="false" />
    <add key="isPlayVideo" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 <system.net>   
    <defaultProxy   
        enabled="false"   
        useDefaultCredentials="false" >   
      <proxy/>   
      <bypasslist/>   
      <module/>   
    </defaultProxy>   
  </system.net> 
</configuration>